*{
    padding: 0px;
    margin: 0px;
}
.heading{
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    justify-content: center;
}

.card_control{
    max-height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    gap: 300px;
    /* flex-wrap: wrap; */



    /* max-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; */
}

.card{
    background-color: rgb(174, 174, 255);
    /* height: 300px;
    width: 350px; */
    /* max-width: 100%; */
    /* margin-top: 250px;
    margin-left: 560px; */
    /* margin-top: 0px; */
    /* margin: 50px 250px 250px 250px;
    border-radius: 10%;
    justify-content: center;
    text-align: center;
    border: solid;
    position:relative; */
    width: 20%;
    float: left;
    border: 2px solid rgb(8, 8, 8);
    border-radius: 10%;
    /* display:inline;
    justify-content: center; */
}
.card:hover{
    background-color: rgb(164, 164, 162);
}
.card h1{
    display: flex;
    justify-content: center;
} 
.list{
    display: flex;
    flex-wrap: break-word;
    text-align: left;
    justify-content: center;
    padding: 50px;
}
.info{
    /* margin: 150px; */
    /* float: right; */
    display: flex;
    flex-direction: column;
    
}

.info1{
    /* float: left; */
    display: flex;
    flex-direction: column;
}

img{
    /* margin-top: 10px;
    margin-left: 640px; */
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.imag{
    width:40%;
    float: left;
    margin: 0;
    margin-right: 30px;
    border-radius: 10%;
    /* display: flex; */

}
#secret{
    color: aliceblue;
    text-align: center;
    font-size: 90px;
}
.imag1{
    width:30%;
    float: right;
    margin: 0;
    margin-left: 30px;
    border-radius: 10%;
}
.content{
    width: 70%;
    margin: 100px auto 100px auto;
    /* display: flex; */
    justify-content: center;
    text-align:left;
    color: aliceblue;
}

.content_1{
    margin: 120px;
}

.content_2{
    margin: 120px;
}



#later{
    text-align: center;
    font-size: 30px;
    margin: 150px;
}

body{
    /* background-color: rgb(147, 148, 165); */
    background-image: url(https://wallpapercave.com/wp/wp3165100.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg{
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

@media screen and (min-width: 1000px){
    .card_control .info .info1{
        flex-wrap: wrap;
    }
}

